# dependencies
node_modules/

# environment variables
.env
server/.env
client/.env
ai-service/.env

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/

# coverage
coverage/

# temporary files
*.tmp
*.temp

# Mongo local database files (if used later)
*.mongodb
